{% set prefix = 'titled-content' %}

<div class="my-7">
  <div class="{{ prefix }}-title field-label border-b border-gray-lightborder">{{ title }}</div>
  <div class="{{ prefix }}-content py-6 mb-3"> {{ content }} </div>
</div>
