@import "../placeholders/typography.placeholder";

/* Rubriques */

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}

h5,
.h5 {
  @extend %h5;
}

/* Paragraphes */

.base-text {
  @extend %base;
}

.grande-text {
  @extend %grande;
}

.mini-titre {
  @extend %mini-titre;
}
