@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;

  src: url("../../fonts/camp-icons/icomoon.eot?vnneia");
  src: url("../../fonts/camp-icons/icomoon.eot?vnneia#iefix") format("embedded-opentype"),
    url("../../fonts/camp-icons/icomoon.ttf?vnneia") format("truetype"),
    url("../../fonts/camp-icons/icomoon.woff?vnneia") format("woff"),
    url("../../fonts/camp-icons/icomoon.svg?vnneia#icomoon") format("svg");
}

[class^="card-icon-"],
[class*=" card-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon", sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  text-transform: none;

  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-icon-outdoor-ampitheatre {
  .path1:before {
    content: "\e900";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e901";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e902";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e903";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e904";

    color: rgb(255, 255, 255);
  }

  .path6:before {
    margin-left: -3rem;

    content: "\e905";

    color: rgb(255, 255, 255);
  }
}

.card-icon-sandy-or-cobble-beach-with {
  .path1:before {
    content: "\e906";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e907";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e908";

    color: rgb(0, 129, 143);
  }
}

.card-icon-bear-proof-cache {
  .path1:before {
    content: "\e909";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e90a";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e90b";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e90c";

    color: rgb(255, 255, 255);
  }
}

.card-icon-bear {
  .path1:before {
    content: "\e90d";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e90e";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e90f";

    color: rgb(0, 129, 143);
  }
}

.card-icon-boat-launch {
  .path1:before {
    content: "\e910";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e911";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e912";

    color: rgb(0, 129, 143);
  }
}

.card-icon-campground-roadside {
  .path1:before {
    content: "\e913";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e914";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e915";

    color: rgb(0, 129, 143);
  }
}

.card-icon-camping-prohibited {
  .path1:before {
    content: "\e916";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e917";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e918";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e919";

    color: rgb(161, 0, 25);
  }
}

.card-icon-one-wheelchair-camp {
  .path1:before {
    content: "\e91a";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e91b";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e91c";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e91d";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e91e";

    color: rgb(255, 255, 255);
  }

  .path6:before {
    margin-left: -3rem;

    content: "\e91f";

    color: rgb(255, 255, 255);
  }
}

.card-icon-campsite-group {
  .path1:before {
    content: "\e920";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e921";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e922";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e923";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e924";

    color: rgb(0, 129, 143);
  }

  .path6:before {
    margin-left: -3rem;

    content: "\e925";

    color: rgb(255, 255, 255);
  }

  .path7:before {
    margin-left: -3rem;

    content: "\e926";

    color: rgb(255, 255, 255);
  }
}

.card-icon-changeroom {
  .path1:before {
    content: "\e927";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e928";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e929";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e92a";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e92b";

    color: rgb(0, 129, 143);
  }
}

.card-icon-dock-tie {
  .path1:before {
    content: "\e92c";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e92d";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e92e";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e92f";

    color: rgb(255, 255, 255);
  }
}

.card-icon-boat-dock {
  .path1:before {
    content: "\e930";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e931";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e932";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e933";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e934";

    color: rgb(255, 255, 255);
  }

  .path6:before {
    margin-left: -3rem;

    content: "\e935";

    color: rgb(255, 255, 255);
  }

  .path7:before {
    margin-left: -3rem;

    content: "\e936";

    color: rgb(0, 129, 143);
  }

  .path8:before {
    margin-left: -3rem;

    content: "\e937";

    color: rgb(255, 255, 255);
  }

  .path9:before {
    margin-left: -3rem;

    content: "\e938";

    color: rgb(255, 255, 255);
  }

  .path10:before {
    margin-left: -3rem;

    content: "\e939";

    color: rgb(0, 129, 143);
  }

  .path11:before {
    margin-left: -3rem;

    content: "\e93a";

    color: rgb(255, 255, 255);
  }
}

.card-icon-fire-ring {
  .path1:before {
    content: "\e93b";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e93c";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e93d";

    color: rgb(0, 129, 143);
  }
}

.card-icon-firewood {
  .path1:before {
    content: "\e93e";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e93f";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e940";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e941";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e942";

    color: rgb(255, 255, 255);
  }

  .path6:before {
    margin-left: -3rem;

    content: "\e943";

    color: rgb(255, 255, 255);
  }
}

.card-icon-fishing {
  .path1:before {
    content: "\e944";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e945";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e946";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e947";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e948";

    color: rgb(0, 129, 143);
  }

  .path6:before {
    margin-left: -3rem;

    content: "\e949";

    color: rgb(255, 255, 255);
  }

  .path7:before {
    margin-left: -3rem;

    content: "\e94a";

    color: rgb(0, 129, 143);
  }
}

.card-icon-bear-proof-garbage-bins {
  .path1:before {
    content: "\e94b";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e94c";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e94d";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e94e";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e94f";

    color: rgb(0, 129, 143);
  }
}

.card-icon-heli {
  .path1:before {
    content: "\e950";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e951";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e952";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e953";

    color: rgb(0, 129, 143);
  }
}

.card-icon-walk-in-sites,
.card-icon-hiking-trails {
  .path1:before {
    content: "\e954";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e955";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e956";

    color: rgb(0, 129, 143);
  }
}

.card-icon-interpretive-centre {
  .path1:before {
    content: "\e957";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e958";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e959";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e95a";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e95b";

    color: rgb(255, 255, 255);
  }
}

.card-icon-no-bears {
  .path1:before {
    content: "\e95c";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e95d";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e95e";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e95f";

    color: rgb(42, 47, 121);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e960";

    color: rgb(255, 255, 255);
  }

  .path6:before {
    margin-left: -3rem;

    content: "\e961";

    color: rgb(255, 255, 255);
  }

  .path7:before {
    margin-left: -3rem;

    content: "\e962";

    color: rgb(0, 129, 143);
  }
}

.card-icon-picnic-area {
  .path1:before {
    content: "\e963";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e964";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e965";

    color: rgb(0, 129, 143);
  }
}

.card-icon-picnic-tables {
  .path1:before {
    content: "\e966";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e967";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e968";

    color: rgb(0, 129, 143);
  }
}

.card-icon-cook-shelter {
  .path1:before {
    content: "\e969";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e96a";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e96b";

    color: rgb(0, 129, 143);
  }
}

.card-icon-playground {
  .path1:before {
    content: "\e96c";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e96d";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e96e";

    color: rgb(0, 129, 143);
  }
}


.card-icon-recycling-bins {
  .path1:before {
    content: "\e96f";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e970";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e971";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e972";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e973";

    color: rgb(0, 129, 143);
  }
}

.card-icon-outhouse-unisex {
  .path1:before {
    content: "\e974";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e975";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e976";

    color: rgb(0, 129, 143);
  }
}

.card-icon-road {
  .path1:before {
    content: "\e977";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e978";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e979";

    color: rgb(0, 129, 143);
  }
}

.card-icon-swimming-area-or-dock-no-l {
  .path1:before {
    content: "\e97a";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e97b";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e97c";

    color: rgb(0, 129, 143);
  }
}

.card-icon-view {
  .path1:before {
    content: "\e97d";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e97e";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e97f";

    color: rgb(0, 129, 143);
  }
}

.card-icon-viewing-structures-or-sign {
  .path1:before {
    content: "\e98b";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e98c";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e98d";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e98e";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e98f";

    color: rgb(255, 255, 255);
  }
}

.card-icon-tent-pads-or-sites-availab {
  .path1:before {
    content: "\e980";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e981";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e982";

    color: rgb(0, 129, 143);
  }
}

.card-icon-hand-pump-or-water-tank-pr {
  .path1:before {
    content: "\e983";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e984";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e985";

    color: rgb(0, 129, 143);
  }

  .path4:before {
    margin-left: -3rem;

    content: "\e986";

    color: rgb(255, 255, 255);
  }

  .path5:before {
    margin-left: -3rem;

    content: "\e987";

    color: rgb(0, 129, 143);
  }
}

.card-icon-at-least-one-wheelchair-ac {
  .path1:before {
    content: "\e988";

    color: rgb(255, 255, 255);
  }

  .path2:before {
    margin-left: -3rem;

    content: "\e989";

    color: rgb(0, 129, 143);
  }

  .path3:before {
    margin-left: -3rem;

    content: "\e98a";

    color: rgb(0, 129, 143);
  }
}
