/*
* Theme core configuration
*/

/* Bootstrap base configuration */
@import "bootstrap/scss/functions";

/* Theme variables */
@import "variables";

/* Bootstrap variables */
@import "bootstrap/scss/variables";


/* Icons */
@import "theme-icons";
@import "theme-icons-classes";

// Remove unwanted colors
$colors: map-remove($colors,
  "blue",
  "indigo",
  "purple",
  "pink",
  "red",
  "orange",
  "yellow",
  "green",
  "teal",
  "cyan",
  "gray",
  "gray-dark",
  "success",
  "info",
  "warning",
  "danger",
  "light",
  "dark"
);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

/* Theme mixins */
@import "mixins/index";
