%icon {
  @extend %font-icons;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%font-icons {
  font-family: $font-icons;
}

@each $name, $picto in $theme-icons-map {
  %icon-#{$name},
  .icon-#{$name} {
    &::before {
      content: "#{$picto}";
    }
  }
}
