ul.tabs--secondary.pagination.pagination-sm {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.tabs--secondary.pagination.pagination-sm li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.4375;
    text-decoration: none;
    color: #335075;
    background-color: #eaebed;
    border: 1px solid #dcdee1;
}
ul.tabs--secondary.pagination.pagination-sm li.active a {
    background: #2572b4;
    color: #fff;
    border-color: #2572b4;
}
.button.field-add-more-submit, .button.media-library-open-button{
    color: #fff;
    background-color: #00a964;
    border-color: #00a964;
    font-size: 16px !important;
    border-radius: 4px;
    line-height: 1.4375;
    font-weight: normal;
}
.form-submit.button.button--primary {
    color: #fff;
    background-color: #00a964;
    border-color: #00a964;
    font-size: 16px !important;
    border-radius: 4px;
    line-height: 1.175;
    font-weight: normal;
}
.action-link.action-link--danger:before {
    display: none;
}
.action-link.action-link--danger {
    background-color: #aa3504;
    border-color: #aa3504;
    color: #fff;
    border: 1px solid !important;
    border-radius: 4px;
}

input[value="Preview"] {
    color: #00818f;
    background-color: #fff;
    border-color: #00818f;
    border: 1px solid !important;
    border-radius: 4px;
}