@import "../../../styles.scss";

.hero {
  position: relative;
  @apply bg-gray-light;
  @apply py-[30px] md:py-0;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    right: -125px;
    width: 350px;
    height: 135px;
    background-repeat: no-repeat;
    background-image: url(../../../../../images/svg/Aurora-small-mobile.svg);
    background-size: contain;

    @include media-breakpoint-up(md) {
      top: auto;
      right: -300px;
      bottom: 0;
      width: 66%;
      background-image: url(../../../../../images/svg/Aurora-main.svg);
      background-size: cover;
    }
  }

  img {
    @apply w-[120px] h-[85px] md:h-[120px];
  }
}
