@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../../fonts/Montserrat/Montserrat-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Montserrat";
  font-style: medium;
  font-weight: 500;
  src: local("Montserrat Med"), local("Montserrat-Med"), url(../../fonts/Montserrat/Montserrat-Medium.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(../../fonts/Montserrat/Montserrat-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
