@layer base {
  .footer--main {
    @apply bg-gray-600;
  }
}

.region {
  &.region-footer-logo {
    .field--name-field-media-image {
      img {
        @apply w-[158px] h-[62px];
      }
    }
  }
}

/* Start issue 153 */

.view-id-documents_browse {
  .view-header {
    @apply mb-0;
  }
}

.documents-item {
  @apply py-2.5;

  .document-browse--title {
    @apply font-medium text-[22px] leading-6 text-black mt-[15px];

    a {
      @apply no-underline mb-0;
    }
  }

  p {
    &.field-content:empty {
      @apply hidden m-0;
    }
  }
}

body {
  /* Start Issue 182 */

  &.page-node-type-news {
    main {
        .row {
            @apply pt-0;
        }
    }
    
    .node {
      .field--name-field-related-link {
        .field__label {
          @apply pb-0 my-[15px];
        }
  
        .field__item {
          @apply my-2.5;
  
          a {
            @apply font-medium;
          }
        }
      }
      
      .field--name-field-news-quote {
          .blockquote {
              @apply bg-contain h-[106px];
          }
          
          + .field--name-field-contact {
              @apply -mt-15;
          }
      }
    }
  }

  /* End Issue 182 */

  &.page-node-type-topics-page {
    main {
      > .row {
        @apply pt-[75px];
      }
  
      p {
        &:last-child {
          @apply mb-0;
        }
      }
  
      .hero {
        & &--image {
          @apply min-h-[120px];
  
          .aurora-waves {
            #heading {
              @apply font-medium;
            }
          }
        }
      }
  
      .topic-top-tasks {
        @apply flex my-[35px] p-5 border rounded border-gray-lightborder;
  
        .field {
          &.field--name-field-whats-new-header {
            @apply text-lg leading-1.1 mt-[15px] mb-[11.5px] w-1/3;
  
            .field__item {
              @apply font-medium;
            }
          }
  
          &.field--name-field-top-task {
            @apply font-medium w-2/3 px-[15px];
  
            .field__item {
              @apply pb-5;
  
              &:last-child {
                @apply pb-0;
              }
            }
          }
        }
      }
  
      .field--name-field-paragraphs {
        .col2list {
          @apply flex;
    
          &:first-child {
            @apply border-t-0;
          }
    
          >div {
            @apply px-5;
          }
    
          .field {
            @apply mt-[15px];
    
            >div {
              @apply px-0;
            }
    
            &:first-child {
              @apply border-t-0;
            }
    
            &.field--name-field-title {
              @apply w-1/3 text-lg leading-1.1 mb-[11.5px] px-5;
            }
    
            &.field--name-field-link {
              @apply w-2/3;
    
              .field__item {
                @apply mb-5;
    
                &:last-child {
                  @apply mb-0;
                }
    
                a {
                  @apply font-medium;
                }
              }
            }
          }
        }
      }
    }
  }

  #block-page-feedback-webform {
    @apply pt-2.5 mb-3.75 border-t border-gray-lightborder;
  }

  form {
    .form-type-textarea {
      @apply m-0;

      label {
        @apply mb-1.25 font-medium;
      }

      textarea {
        @apply border-gray-300;
        
        &.error {
          @apply border-gray-300;
        }
      }
    }

    fieldset {
      @apply m-0 items-center;

      &.yes-no-trigger-wrapper {
        @apply flex items-baseline mb-9;

        legend {
          @apply font-medium w-auto;
        }
      }

      [id^="edit-was-this-page-helpful"] {
        @apply flex;

        .form-item-was-this-page-helpful {
          @apply m-0 pl-5;

          label {
            font-size: 0;
        
            &::after {
              font-family: "FontAwesome", sans-serif;
              font-size: 38px;
              color: #B2B3B2;
            }
        
            &[for^="edit-was-this-page-helpful-yes"] {
              &::after {
                content: "\f087";
              }
            }
        
            &[for^="edit-was-this-page-helpful-no"] {
              &::after {
                content: "\f088";
              }
            }
          }

          input {
            @apply hidden;
        
            &:checked {
              ~label {
                &:after,
                &:before {
                  @apply text-blue-300;
                }
              }
            }
          }
        }
      }
    }

    .form-actions {
      .webform-button--submit {
        @apply py-3.75 px-7.5 bg-blue-300 text-white font-normal rounded-[4px];

        &:hover {
          @apply bg-blue-600;
        }
      }
    }
    
    .form-item--error-message {
      @apply hidden;
    }
  }
}

[data-drupal-messages] {
    .messages {
        &.messages--error {
            @apply shadow-none bg-none border-0 border-l-4 border-error-border p-3.75 bg-error-bg;
        }
    }
}

.ens-wrapper {
  flex-wrap: wrap;
}

.btn {
  &.button-primary {
    &:active {
      @apply bg-[#1c578a] border-[#091c2d] shadow-inner;
    }
  }
}

aside {
    .region-sidebar-second {
        .block-blog-feed-block {
            @apply mt-15;

            .subscribe-rss {
                @apply pb-10;
                
                .block-title {
                    @apply border-solid border-0 border-b-[12px] border-yellow text-lg mt-3.75 mb-7.5 pb-2.5 pr-3.75;
                }
            }
        }
    }
}

#node-blog-field-comments {
    .comment-blog-comments-form {
        @apply hidden;
    }
}

.node--type-blog {
    .cta-card {
        @apply pb-9 mb-9 border-b-1 border-gray-lightborder;
        
        .title {
            @apply text-[22px] font-medium;
        }
    }
}

/* End issue 153 */

/* Start Issue 182 */

/*
.field {
  &.field--name-field-related-link {
    &.single-related-post {
      @apply m-0;

      .field__item {
        @apply my-[10px];

        a {
          @apply font-medium;
        }
      }
    }
  }
}
*/

/* End Issue 182 */