/**
 * For header animation, base on class .js-did-scroll which is added to <body> via JS.
 */
.header {
	.site-nav-toggle {
		.links {
			li {
				@apply mr-5;
			}
		}

		>button {
			@apply mr-6;
		}
	}

	.header-search {
		@apply my-8;

		.views-exposed-form {
			.filters {
				@apply mt-0;

				form {
					.form-item {
						@apply pt-0 my-0;
					}

					.form-actions {
						@apply my-0;
					}
				}
			}
		}
	}
}