@layer base {
  main {
    @apply bg-transparent;
  }
}

.collapse {
  visibility: visible;

  &:not(.show) {
    display: none;
  }
}


/* Issue #211 */

h1#heading {
    @apply text-page-heading font-light ;
}

/* Issue #211 End */
