@layer base {
  .layout--home {
    @apply bg-white;
  }
}

.primary-items,
.secondary-items,
.tertiary-items {
  .box-items {
    position: relative;

    height: 250px;
    padding: 20px;

    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);

    &.primary-single-item {
      .faded-box {
        &:after {
          position: absolute;
          right: 20px;
          bottom: 0;
          left: 20px;

          display: block;

          width: 70%;
          height: 10px;
          margin: 0 auto;

          content: "";

          background: $link-hover;
          @media (min-width: 991px) {
            width: 185px;
          }
        }
      }
    }
  }
}

.primary-items {
  &.field__items {
    overflow: auto;

    &:after,
    &:before {
      display: table;

      content: " ";
    }

    .field__item {
      padding: 10px;

      // .front-primary-links {
      //   padding-top: 20px;

      //   @media (max-width: 767px) {
      //     h2 {
      //       margin-bottom: 22.4px;
      //     }
      //   }
      &.odd {
        float: right;
        width: 100%;
        @media (min-width: 600px) {
          width: 50%;
        }
        @media (min-width: 767px) {
          width: 70%;
        }

        &:nth-child(1) {
          float: left;
        }
      }

      &.even {
        float: right;
        width: 100%;
        @media (min-width: 600px) {
          width: 50%;
        }
        @media (min-width: 767px) {
          width: 30%;
        }

        &:nth-child(1) {
          float: left;
        }
      }
    }
  }

  .box-items {
    height: 290px;

    @media (min-width: 992px) {
      height: 250px;
    }
  }
}

// .primary-items,
// .secondary-items,
// .tertiary-items {
//   a {
//     font-weight: 500;

//     display: block;

//     margin-bottom: 15px;

//     @media (min-width: 1024px) {
//       font-size: 18px;

//       margin-bottom: 37px;
//     }

//     &:last-of-type {
//       margin-bottom: 0;
//     }
//   }

//   h2 {
//     margin-top: 0;
//     padding: 0 19.2px;

//     text-align: center;

//     @media (min-width: 767px) {
//       font-size: 24px;
//     }

//     a {
//       @media (min-width: 1024px) {
//         font-size: 24px;
//       }
//     }
//   }

//   .box-items {
//     position: relative;

//     height: 250px;
//     padding: 20px;

//     border-radius: 4px;
//     background-color: #FFF;
//     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);

//     // &:after{
//     //   content: "";
//     //   position: absolute;
//     //   top: 0;
//     //   right: 0;
//     //   display: block;
//     //   height: 175px;
//     //   width: 20px;
//     // }
//     // &:before{
//     //   content: "";
//     //   position: absolute;
//     //   top: 0;
//     //   right: 0;
//     //   display: block;
//     //   height: 20px;
//     //   width: 50%;
//     // }
//     &.primary-single-item {
//       .faded-box {
//         &:after {
//           position: absolute;
//           right: 20px;
//           bottom: 0;
//           left: 20px;

//           display: block;

//           width: 70%;
//           height: 10px;
//           margin: 0 auto;

//           content: "";

//           background: $link-hover;

//           @media (min-width: 991px) {
//             width: 185px;
//           }
//         }
//       }
//     }

//     &.secondary-single-item {
//       .faded-box {
//         &:after {
//           position: absolute;
//           right: 20px;
//           bottom: 0;
//           left: 20px;

//           display: block;

//           width: 70%;
//           height: 10px;
//           margin: 0 auto;

//           content: "";

//           background: $link-hover;

//           @media (min-width: 991px) {
//             width: 185px;
//           }
//         }
//       }
//     }
//   }

//   .field-item {
//     &.even {
//       .primary-single-item.box-items {
//         &:before {
//           position: absolute;
//           top: 0;
//           right: 0;

//           display: block;

//           width: 75%;
//           height: 20px;

//           content: "";
//         }

//         .faded-box {
//           &:after {
//             position: absolute;
//             right: 15%;
//             bottom: 0;
//             left: 15%;

//             display: block;

//             width: 185px;
//             height: 10px;
//             margin: 0 auto;

//             content: "";

//             background: $link-hover;

//             @media (min-width: 767px) {
//               margin: 0;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .primary-items {
//   margin-bottom: 0;

//   @media (min-width: 767px) {
//     margin-bottom: 15px;
//   }

//   .field-items {
//     overflow: auto;

//     &:after,
//     &:before {
//       display: table;

//       content: " ";
//     }
//   }

//   .front-primary-content {
//     float: left;

//     width: 100%;

//     transition: transform 0.4s ease;
//   }

//   .field-item {
//     padding: 10px;

//     .front-primary-links {
//       padding-top: 20px;

//       @media (max-width: 767px) {
//         h2 {
//           margin-bottom: 22.4px;
//         }
//       }
//     }

//     @media (max-width: 767px) {
//       .primary-single-item {
//         position: relative;

//         overflow: hidden;

//         text-align: center;

//         .front-primary-content {
//           a {
//             cursor: not-allowed;
//             pointer-events: none;
//           }
//         }

//         &:hover {
//           .front-primary-links {
//             transition: transform 0.4s ease;
//             transform: translateX(-100%);
//           }

//           .front-primary-content {
//             transition: transform 0.4s ease;
//             transform: translateX(-100%);
//           }
//         }

//         .front-primary-links {
//           position: absolute;
//           z-index: 1;
//           top: 0;
//           left: 100%;

//           width: 100%;
//           height: 100%;

//           transition: transform 0.4s ease;

//           a {
//             margin-bottom: 15px;
//           }
//         }
//       }
//     }
//   }

//   .field-item.even {
//     float: right;

//     width: 100%;

//     @media (min-width: 600px) {
//       width: 50%;
//     }

//     @media (min-width: 767px) {
//       width: 70%;
//     }

//     &:nth-child(1) {
//       float: left;
//     }

//     .front-primary-content {
//       width: 100%;

//       @media (min-width: 768px) {
//         width: 50%;
//         max-width: 370px;
//       }
//     }

//     .front-primary-links {
//       float: left;

//       width: 100%;
//       padding-left: 0;

//       text-align: center;

//       @media (min-width: 768px) {
//         width: 50%;
//         padding-top: 20px;
//         padding-left: 30px;

//         text-align: left;
//       }

//       @media (min-width: 767px) {
//         h2 {
//           display: none;
//         }
//       }
//     }
//   }

//   .field-item.odd {
//     float: right;

//     width: 100%;

//     @media (min-width: 600px) {
//       width: 50%;
//     }

//     @media (min-width: 767px) {
//       width: 30%;
//     }

//     &:nth-child(1) {
//       float: left;
//     }

//     .primary-single-item {
//       position: relative;

//       overflow: hidden;

//       text-align: center;

//       &:hover {
//         .front-primary-links {
//           transition: transform 0.4s ease;
//           transform: translateX(-100%);
//         }

//         .front-primary-content {
//           transition: transform 0.4s ease;
//           transform: translateX(-100%);
//         }
//       }

//       .front-primary-links {
//         position: absolute;
//         z-index: 1;
//         top: 0;
//         left: 100%;

//         width: 100%;
//         height: 100%;

//         transition: transform 0.4s ease;

//         a {
//           margin-bottom: 15px;
//         }
//       }
//     }
//   }
// }

// .secondary-items {
//   margin-bottom: 0;

//   @media (min-width: 767px) {
//     margin-bottom: 15px;
//   }

//   .field-items {
//     display: flex;

//     flex-flow: row wrap;

//     @media (max-width: 767px) {
//       margin-top: 0;
//     }

//     .field-item {
//       width: 100%;

//       @media (min-width: 767px) {
//         width: 33%;
//       }
//     }

//     .front-svg {
//       margin: 0 auto;
//     }
//   }

//   .secondary-single-item {
//     display: none;

//     @media (min-width: 767px) {
//       position: relative;

//       display: block;
//       overflow: hidden;

//       margin: 10px;

//       text-align: center;
//     }
//   }
// }

// .mobile-box-items {
//   position: relative;

//   height: 100px;
//   min-height: 100px;
//   margin: 10px;
//   padding: 0;

//   border-radius: 4px 0 0 4px;
//   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);

//   a {
//     display: table;

//     height: 100%;
//   }

//   h2 {
//     font-size: 18px;

//     display: table-cell;

//     text-align: left;

//     @media (min-width: 1024px) {
//       font-size: 22px;
//     }
//   }

//   .inlin-text {
//     display: table-cell;

//     height: 100%;

//     vertical-align: middle;
//   }

//   .smallerish-svg {
//     float: left;

//     width: 100px;
//     height: 100px;

//     border-radius: 4px 0 0 4px;
//     background: $link-hover;

//     svg {
//       width: 100px;
//       height: 100px;
//     }
//   }

//   @media (min-width: 767px) {
//     display: none;
//   }
// }

// .tertiary-items {
//   margin-bottom: 40px;

//   .field-items {
//     display: flex;

//     flex-flow: row wrap;

//     @media (max-width: 767px) {
//       margin-top: 0;
//     }

//     .field-item {
//       width: 100%;

//       @media (min-width: 767px) {
//         width: 50%;
//       }

//       @media (min-width: 992px) {
//         width: 33%;
//       }
//     }
//   }

//   .tertiary-single-item {
//     height: 100px;
//     min-height: 100px;
//     margin: 10px 10px;
//     padding: 0;

//     a {
//       display: table;

//       height: 100%;
//     }

//     h2 {
//       font-size: 18px;

//       margin-bottom: 0;

//       text-align: left;

//       @media (min-width: 1024px) {
//         font-size: 22px;
//       }
//     }

//     .inlin-text {
//       display: table-cell;

//       height: 100%;

//       vertical-align: middle;
//     }

//     .smallerish-svg {
//       float: left;

//       width: 100px;
//       height: 100px;

//       background: $link-hover;

//       svg {
//         width: 100px;
//         height: 100px;
//       }
//     }
//   }
// }
