#block-yukonca-glider-peaktimes {
    #block-yukonca-glider-peaktimes-heading {
        @apply text-base mb-0 pt-12;
    }
    
    .field-name-field-contact {
        .field-label {
            @apply mt-0;
        }
    }
}

.peak-times-graph {
	@apply w-[390px] max-w-full my-3.75 mx-0;
}

.peak-times-graph--labels {
	@apply flex py-0 px-2.5;
	
	span {
		@apply inline-block w-1/5 text-xs leading-4 mt-1 text-center;
	}
}

.peak-times-graph--wrapper {
	@apply flex h-[150px] border-1 border-solid border-gray-lightgray items-end py-0 px-2.5;
	
	span {
		@apply inline-block w-1/5 my-0 mx-3 bg-[red];
		
		&.poor {
			@apply h-[87%] bg-chart-poor;
		}
		
		&.good {
			@apply h-[55%] bg-chart-good;
		}
		
		&.very_good {
			@apply h-1/4 bg-chart-vgood;
		}
	}
}

.peak-times-graph-legend {
	@apply w-full m-0;

	.peak-times-graph--labels {
		@apply block -my-3 mx-0 p-0;
		
		span {
			@apply relative block w-auto mx-6 ml-0 mr-9 text-left;
			
			&:after {
				@apply absolute -left-9 w-5 h-5 content-[""];
				top: calc(50% - 10px);
			}
		}
		
		.poor:after {
			@apply bg-chart-poor;
		}
		
		.good:after {
			@apply bg-chart-good;
		}
		
		.very_good:after {
			@apply bg-chart-vgood;
		}
	}
	
	.peak-times-graph--wrapper {
		@apply relative hidden w-[250px] p-0 border-0 border-none;
		
		span {
			@apply w-[10%];
			
			&:first-of-type {
				@apply ml-0;
			}
			
			&:after {
				@apply absolute h-px bg-[#DBD9DB] -z-[1] content-[""];
			}
		}
		
		.poor:after {
			@apply top-[13%] left-[10%];
			width: calc(100% - 10%);
		}
		
		.good:after {
			@apply top-[45%];
			left: calc(20% + 24px);
			width: calc(100% - (20% + 24px));
		}
		
		.very_good:after {
			@apply top-3/4;
			left: calc(30% + 48px);
			width: calc(100% - (30% + 48px));
		}
	}

}

@media screen and (min-width: 768px) {
	.peak-times-graph-legend {
		@apply flex mb-[75px] float-left overflow-hidden;

		.peak-times-graph--wrapper {
			@apply flex float-left px-0;
		}
		
		.peak-times-graph--labels {
			@apply relative m-0 px-0 py-10;
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;

			span {
				@apply absolute left-2 m-0;

				&:after {
					@apply hidden;
				}
			}

			.poor {
				top: calc(13% - 8px);
			}

			.good {
				top: calc(45% - 8px);
			}

			.very_good {
				top: calc(75% - 8px);
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.peak-times-graph-legend {
		.peak-times-graph--wrapper {
			@apply w-[310px];
		}
	}
}
