.media-item {
  cursor: default;
}

.media-item .views-field-entity-browser-select {
  position: absolute;
  height: 0;
  overflow: hidden;
}

body.media-directories-modal:not(.toolbar-tray-open) .layout-container {
  margin: 0;
}
