{# Prepare attributes #}
{% set classes = [
  'filters',
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="title w-100">
    <h2 class="title pb-2 pt-4 mb-7 border-solid border-0 border-b-[12px] border-yellow text-default-base">{{ title }}</h2>
  </div>
  <div class="form">
    {{ form }}
  </div>
</div>
