/* Styles here */
.menu {
  color: $black;
}

#superfish-main {
  li:first-of-type span {
    display: none;
  }

  li.menuparent {
    margin: 15px 0 11.5px 0;
    font-weight: bold;
  }

  > li.sf-depth-1 {
    > ul {
      padding-left: 0;
      columns: 2;
      list-style: none;

      > li {
        padding: 16px 12px 16px 0;

        a {
          font-weight: normal;
        }
      }
    }
  }
}

#header-main-navigaion .offcanvas-header {
  display: flex;
  justify-content: space-between !important;
}
