.page-node-type-basic-page {
    h3 {
        @apply text-[22px] leading-1.1 mt-3.75 pt-5;
    }
    
    .region-content {
        ul,
        ol {
            @apply pl-12;
            
            li {
                @apply pl-2.5;
            }
        }
        
        ul {
            @apply list-disc;
        }
    }
}

main {
	> .row {
		@apply pt-[60px];

		.layout-content {
			.region-content {
				@apply pt-0 pb-8 relative;
				
				table {
                    @apply border border-gray-600 w-full mb-6;

                    tbody {
                        tr {
                            td {
                                @apply border border-gray-600 p-2;
                            }
                        }
                    }
				}
				
				// .media {
				//     img {
				//         @apply w-[300px];
				//     }
				// }
				
				// .field--name-field-image {
				//     @apply absolute right-0 ml-[100px] mb-[50px];

				//     img {
				//         @apply w-[300px] h-auto;
				//     }
				// }

				// .node__content {
				//     p {
				//         &:nth-child(1),
				//         &:nth-child(2),
				//         &:nth-child(3),
				//         &:nth-child(4) {
				//             @apply max-w-3xl;
				//         }
				//     }
				// }
			}

			.block-views-blockplaces-listing-block-places-listing {
				.block-title {
					@apply mt-3.75 mb-3 text-[26px] font-medium capitalize;
				}
			}
		}
	}
}