@layer base {
  .page--default {
    @apply bg-white;
  }
}

h3 {
  @apply mt-6 mb-3;
}

.page-title {
  @apply my-4;
}

.node {
  .field:not(.field--label-inline) {
    .field__label {
      @apply my-6;
    }
  }
}

.breadcrumb {
  @apply py-2 w-3/5;

  li {
    @apply inline-block text-sm;

    &:before {
      font-family: "Glyphicons Halflings", sans-serif;
      content: "/";
      padding: 0 5px;
    }

    a {
      font-size: inherit;
    }
  }
}

.region-breadcrumb {
    .block-views-blockblog-type-info-block-1 {
        @apply my-[70px];
    } 
}