<div class="column-layout-card">
  <h4 class="main-link border-solid border-b-1 border-gray-lightborder">
    {{ main_link }}
  </h4>
  <div class="subcategory-links mt-4">
    {% if level_2_link %}
      <div class="level_2-link">
        {{ level_2_link }}
      </div>
    {% endif %}

    {% if links['#items'] %}
      {% for link in links['#items'] %}
        <div class="link-item">
          {{ link(link.title, link.url) }}
        </div>
      {% endfor %}
    {% else %}
      {% for link in links %}
        <div class="link-item">
          {{ link(link.title, link.url) }}
        </div>
      {% endfor %}
    {% endif %}
  </div>

</div>
