{# Prepare attributes #}
{% set prefix = 'hero' %}

{% set classes = [
  'section',
  'overflow-hidden',
  prefix,
  prefix ~ '--' ~ variant,
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="flex flex-col md:flex-row items-center">
      {% if image %}
        <div class="image md:order-last">
          <img src="{{ image }}" alt="header icon">
        </div>
      {% endif %}
      {% if title %}
        <h1 class="title" id="heading">{{ title }}</h1>
      {% endif %}
    </div>
  </div>
</div>
