.view-id-taxonomy_term {
  .js-pager__items {
    text-align: center;

    .btn {
      background-color: $color-blue300;
    }
  }
}

#block-exposedformtaxonomy-termpage-1 {
  .button {
    background-color: $color-blue300;
  }
}
