.nav-pills {
  &.sequential .nav-link {
    &::before {
      content: counter(pills-counter);
    }
  }
  .nav-link {
    &::before {
      @apply bg-blue-500 rounded-full w-8 h-8 min-w-8 inline-block ml-[-40px] ;
      @apply text-white text-base text-center pt-1 mr-2 font-semibold;
    }

    &.active {
      @apply text-purple;

      &::before,
      &.active:hover::before {
        @apply bg-purple;
      }

      .pills-number {
        @apply bg-purple;
      }
    }

    &:hover {
      @apply bg-none;

      &::before {
        @apply bg-blue-200;
      }

      .pills-number {
        @apply bg-blue-200;
      }
    }
  }

  li {
    counter-increment: pills-counter;
  }
}

.tab-content {
  .tab-pane.fade {
    @apply hidden;
  }

  .tab-pane.fade.show.active {
    @apply block;

    &:focus-visible {

    }
  }
}

.pills-arrow {
  .btn-links.hide {
    .pills-btn-link {
      display: none;
    }
  }
}
