.media-directories-editor--dimensions .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* The first element is description, expand it fully. */
.media-directories-editor--dimensions .details-wrapper > div:first-child {
  width: 100%;
}

.media-directories-editor--controls {
  display: flex;
  align-items: flex-end;
  padding-left: 1em;
  margin: 0.75em 0;
}

.media-directories-editor--controls a {
  display: inline-block;
}

.media-directories-editor--dimensions .form-item {
  padding-right: 1em;
}
