:root {
    --w3-lightgray: #eaebed;
    --w3-lightgray2: #dcdee1;
    --w3-blue: #335075;
    --w3-white: #ffffff;
    --w3-blue2: #2572b4;
    --w3-green: #00a964;
    --w3-red: #aa3504;
    --w3-blue3: #00818f;
}